#body {
	font-family: 'Open Sans', sans-serif;
}

#navbar {
	position: relative;
	height: 24px;
	padding: 10px;
	position: fixed;
	width: 100%;
	background-color: #fff;
	color: #505959;
	font-size: 16px;
	letter-spacing: .025em;
	font-weight: 400;
	border: 1px solid rgba(0,0,0,0.2);
}

.navbar_items {
	position: absolute;
	right: 1%;
	margin-right: 10px;
}

.navbar_items .item {
	display: inline-block;
	cursor: pointer;
	margin-right: 15px;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	position: relative;
	margin-left: 20px;
}

.navbar_items .item:hover {
	opacity: 0.5;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/*copy and paste the above to other pages*/

#title_container {
	margin: 20px 10px;
	text-align: center;
	padding-top: 50px;
}

.homepage_container1 .header_item {
	display: block; 
	cursor: pointer;
	margin-right: 15px;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	margin-left: 20px;
	overflow: hidden;
	float: left;
}

.homepage_container2 .header_item {
	display: block; 
	cursor: pointer;
	margin-right: 15px;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	margin-left: 20px;
	overflow: hidden;
	float: left;
}

.header_item {
	float: left;
	width: 300px;
}

.homepage_container1, .homepage_container2 {
	margin-left: 15%;
}

.header_button {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 50%;
	font-size: 25px;
	font-weight: 100%;
	color: black;
	cursor: pointer;
	width: 190px;
	height: 40px;
	border: None;
	transform: translateX(-50%);
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	text-align: center;
}

.header_button .text {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
}

#container {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#page_header {
	font-size: 46px;
	text-align: center;
}

body, html {
	margin: 0;
	font-family: Lato;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0;
}
h4, h1 {
	margin: 0;
	color: #1a1a1a;
	font-weight: 300;
}
input {
	float: left;
}
ul {
	list-style: none;
	margin: 0;
}
li {
	float: right;
}


#title {
	font-size: 35px;
	position:fixed;
	left:5px;
	top:0;
	font-family: 'Dancing Script', cursive;
}

#subtitle {
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	display: none;
	padding-bottom: 15px;
}

.image {
	display: inline-block;
	object-fit: cover;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
}

.header_item .image:hover {
	opacity: 0.8;
}


#personalize_button {
	text-align: center;
	cursor: pointer;
}

#selections {
	cursor: pointer; 
}

#container {
	width: 100%;
	background-color: #ededed;
	padding-bottom: 70px;
}

#personalize_container {
	width: 100%;
	background-color: #ffe6e6;
	height: 800px;
}

#personalize_container #subtitle {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#personalize_button {
	padding-top: 10px;
	padding-bottom: 20px;
}

#mood_container1 .mood_header,#mood_container2 .mood_header {
	float: left;
}

#mood_container1, #mood_container2 {
	display: block;
	width: 750px;
	margin: 0 auto;
}

.mood_image {
	object-fit: cover;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
}

.mood_button {
	cursor: pointer;
	text-align: center;
	margin-bottom: 5px;
}

#question {
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
}

.mood_image:hover {
	opacity: 0.8;
}

#about_text {
	padding-bottom: 20px;
	font-size: 25px;
}

#about_container {
	width: 100%;
	background-color: #E0F2F1;
	height: 800px;
	text-align: center;
}

#about_button {
	padding-top: 40px;
	padding-bottom: 30px;
}

